* {
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: hsl(0, 0%, 95%);
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  margin: 0 0 100px 0;
}

p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.actions {
    display: flex;
    justify-content: center;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 140px);
  grid-template-rows: repeat(4, calc(140px / 2 * 3));
  gap: 10px;
  width: 80%;
  max-width: 800px;
  min-height: 100%;
  margin-top: 20px;
}

.card {
  height: calc(140px / 2 * 3);
  width: 140px;
  background-color: #f0f0f0;
  border: 1px solid #000000;
  border-radius: 10px;
  position: relative;
  padding: 50px;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform-style: preserve-3d;
}

.card img {
   height: 100%;
}

.flip {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.card:hover {
  transform: scale(1.05);
}

.startButton {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}

.startButton:hover {
    transform:scale(1.25);
}

.resetButton {
    display: flex;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;
}

.resetButton:hover {
    transform: scale(1.25);
}