* {
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 0px;
  text-align: center;
  text-shadow: 0 0 20px rgb(238, 131, 15);
  font-family: "Kode Mono", monospace;
  font-size: 30px;
  padding: 0;
  margin: 0 0 100px 0;
  box-shadow: 0 5px 50px rgba(219, 116, 12, 0.856), 0 0 10px;
}

h2 {
    color: whitesmoke;
    text-align: center
}

p {
    border: 1px solid #000; 
    background-color: rgba(0, 0, 0, 0.8); 
    color: darkorange;
    padding: 10px; 
    border-radius: 5px; 
    display: inline-block; 
    text-align: center;
    font-size: 15px;
    font-weight: bold;
  }

  p2 {
    color: darkorange;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
  }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 0, 0);
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url(/Assets/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(/Assets/loadingscreen.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(255, 146, 4, 0.7);
    max-width: 800px;
    max-height: 80%;
    overflow-y: auto;
  }

.game-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    width: 70vh;
    max-width: 900px;
    height: 70vh;
    margin: 5px 235px 20px 235px;
}

.card {
  border: 1px solid #ffffff;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform-style: preserve-3d;
  overflow: hidden;
  background-image: url(/Assets/halloween-pattern.jpg);
  background-size: 100% 100%;
}

.card.front,
.card .back {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-position: center;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}

.card:hover {
  transform: scale(1.05);
}

.card .flip {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.startButton {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  background-color: rgb(255, 146, 4);
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: larger;
  margin: 25px 0 0 0;
}

.startButton:hover {
  transform: scale(1.25);
}

.resetButton {
  display: flex;
  margin: auto;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  background-color: rgb(255, 0, 0);
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
  font-weight: bolder;
}

.resetButton:hover {
  transform: scale(1.25);
}

#messages {
    color: rgb(0, 255, 0); 
    font-size: 24px;
    text-shadow: 0 0 5px rgb(0, 0, 0)
  }
  
  #messagesTwo {
    color: rgb(255, 0, 0);
    font-size: 24px;
    text-shadow: 0 0 10px rgb(255, 255, 255)
  }
